
.tudu-headline-section {
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
  max-width: 100%;
  border: none;
  padding-bottom: 3px;
  padding-right: 3px;
  border-bottom: 1px dotted #607d8b;
  margin-bottom: 3px;
}

.tudu-icon {
  position: relative;
  justify-content: center;
  align-items: self-end;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;

  color: #35464e;

  border: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.tudu-search-section {
  border: #607d8b;
}

.tudu-text-bar {
  background-color: transparent;
  border: red;
}
.tudu-string-input {
  color: #35464e;
  background-color: transparent;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;


  margin: 0px 0px 0px 0px;
  padding: 3.5px 0px 3.5px 5px;

  border: solid #607d8b 1px;
  border-radius: 5px;
}

.tudu-info-section {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;

  border: transparent;
  min-width: 42%;
}

.tudu-time-bar {
  border: transparent;
  margin: 1px;
}

.tudu-time-input {
  background-color: #607d8b00;
  color: #35464e;
  font-size: 80%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  border: solid #607d8b 1px;
  border-radius: 5px;

  padding: 1.5px 3px 1.5px 5px;
}

.tudu-date-bar {
  border: transparent;
  margin: 1px;
}
.tudu-date-input {
  background-color: #607d8b00;
  color: #35464e;
  font-size: 80%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  border: solid #607d8b 1px;
  border-radius: 5px;

  padding: 3px 3px 3px 5px;
}

.tudu-submit-button-section {
  border-color: #607d8b00;
  position: relative;
  justify-content: center;
  align-items: center;
  border: rgb(96, 125, 139);
  background-color: transparent;
}
.add-button, #beggining, .dellbutt {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #607d8b;
  width: 23px;
  height: 25px;
  margin: 1px;
  padding: 2px 1.5px 2px 1.5px;
  background-color: rgba(255, 0, 0, 0);
}


.add-button:hover,#beggining:hover, .dellbutt:hover {
  border: 0.1px solid #35464e7a;
}
.add-button:active, .dellbutt:active {
  background-color: #81c49cbb;
  padding: 2px 1.5px 2px 1.5px;
  border: 0.5px  #425161e5;

}


.img-add {
  border: transparent;
  width: 80%;
  height: 79%;
}



.add-button:hover,
#beggining,
.dellbutt:hover,
.tudu-date-input:hover,
.tudu-time-input:hover {
  cursor: pointer;
}
.tudu-icon:hover {
  cursor: context-menu;
}

